# Ignore large data files
data/
train_images/
evaluation_images/
*.zip
outputs/predictions/val_preds/*
outputs/visualizations/*


# Ignore intermediate files
*.pyc
__pycache__/
*.log

# Ignore saved models and checkpoints
models/v*
models/checkpoints/*



# Ignore uv env
.venv
uv.lock

.vscode/
