# Ignore large data files
data/*
*.zip
outputs/predictions/val_preds/*
outputs/predictions/test_preds/*
outputs/predictions/training_result/*
outputs/visualizations/*
outputs/submissions/*


# Ignore intermediate files
*.pyc
__pycache__/
*.log

# Ignore saved models and checkpoints
models/v*
models/checkpoints/*



# Ignore uv env
.venv
uv.lock

.vscode/
